<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Books</title>
    <link rel="stylesheet" href="../app.css" type="text/css">
</head>

<body>
    <header>
        <h1>Best Books!</h1>
        <h2>Search by title or author !</h2>
    </header>

    <br />

    <main>
        <form action="/searches" method="post">
            <fieldset>
                <input type="text" name="search" id="userInput" placeholder="Enter a title or author" required>


                <label for="title"> Title </label>
                <input type="radio" name="searchBy" value="title" required>


                <label for="author"> Author  </label>
                <input type="radio" name="searchBy" value="author" required>

                <button type="submit">Search The Google Books API</button>
            </fieldset>
        </form>
    </main>

    <footer>
        O O
    </footer>
</body>

</html>