<!DOCTYPE html>
<html lang="en">

<%- include( '../../layout/head')%>

    <body>
        <header>
            <h1>Best Books!</h1>
            <h2>Search by title or author !</h2>
            <%- include('../../layout/header') %>
        </header>

        <main>
            <form action="/searches" method="post">
                <fieldset>
                    <input type="text" name="search" id="userInput" placeholder="Enter a title or author" required>
                    <br>
                    <br>
                    <label for="title"> Title 
                <input type="radio" name="searchBy" value="title" required>
</label>
                    <br>
                    <br> <label for="author"> Author  
                <input type="radio" name="searchBy" value="author" required>
            </label>
                    <br>
                    <br>
                    <button type="submit">Search The Google Books API</button>
                </fieldset>
            </form>
        </main>
        <footer id="newFooter"> gggg </footer>

    </body>


</html>