<!DOCTYPE html>
<html lang="en">

<%- include( '../../layout/head')%>

    <body>
        <header>
            <h2> Search by <em>Title</em> or <em>Author</em> ! </h2>
            <%- include('../../layout/header') %>
        </header>

        <main>
            <form id="searchForm" action="/searches" method="post">
                <fieldset>
                    <label> Enter Book Title or Author Name </label>
                    <input type="text" name="search" id="userInput" placeholder="book title or author name" required>
                    <br>
                    <br>

                    <label for="title"> 
                    <input type="radio" name="searchBy" value="title" required />
                    Title  </label>
                    <br>
                    <br>
                    <label for="author">   
                    <input type="radio" name="searchBy" value="author" required />
                    Author      </label>
                    <br>
                    <br>

                    <button type="submit">Search The Google Books API</button>
                </fieldset>
            </form>
        </main>

        <%- include("../../layout/footer") %>


    </body>


</html>